/*.navbar > .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}
  
.navbar {
    margin: 0;
    padding: 0;
}*/

.dark-safe-bg {
    /*background-image: url(".\\..\\public\\safe3.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;*/
}

.cursor-pointer {
    cursor: pointer;
}

.darkbg {
    background: rgba(0, 0, 0, 0.5);
    /*padding-top:100px;*/
    padding-bottom:100px;
    overflow: hidden;
}

.spinner-border {
    animation: 1.75s cubic-bezier(0.6,-0.62, 0.21, 1.45) infinite spinner-border !important;
}

.pulse-animation {
    animation-name: pulse;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pulse {
    from {
        transform: scale(.75)
    }

    to {
        transform:scale(1.0)
    }
}

.hr {
    min-width: 100%;
    border-top: 1px solid whitesmoke;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

.fs-7 {
    font-size: .8em;
}

.fs-8 {
    font-size: .7em;
}

.pr-10px {
    padding-right: 10px;
}

.float-right {
    float: right;
}

.m-5px {
    margin: 5px;
}

.full-width-child-btn > button {
    width: 100% !important;
}
.v-dark {
    background-color: #131313 !important;
    color: #fff !important;
}

.color1 { color: #335681; }
.color2 { color: #436ea3; }
.color3 { color: #7fa2cc; }
.color4 { color: #e6f3ff; }
.color5 { color: #c5d7ed; }

.file-input {
    background-color: #a7a8a8 !important;
    border: 1px solid #ced4da !important;
}
.guides {
    border: 1px dashed red;
}

.add-password-category-parent > button  {
    width: 80%;
}
/* 
#7fa2cc
#436ea3
#e6f3ff
#c5d7ed
*/